[submodule "libraries/libc/musl"]
	path = libraries/libc/musl
	url = https://github.com/haderech/musl
[submodule "libraries/libc++/libcxx"]
	path = libraries/libc++/libcxx
	url = https://github.com/haderech/libcxx
	branch = eosio
[submodule "libraries/libc++/libcxxabi"]
	path = libraries/libc++/libcxxabi
	url = https://github.com/haderech/libcxxabi
